<main>
    <div class="header-wrapper">
        <div class="container-fluid max-container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6"><a href="index.html" class="logo"><i class="feather-slack text-success"></i><span class=" fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0 d-none d-md-block">Elomoas. </span> </a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 d-none d-lg-block">
                    <ul class="list-inline text-center mb-0 mt-2 pt-1">
                        <li class="list-inline-item pl-4 pr-4"><a class="scroll-tiger" href="#feature">Features</a></li>
                        <li class="list-inline-item pl-4 pr-4"><a class="scroll-tiger" href="#demo">Demo</a></li>
                        <li class="list-inline-item pl-4 pr-4"><a class="scroll-tiger" href="#contact">Contact</a></li>
                    </ul>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 text-right">
                    <a href="#" class="btn btn-lg btn-primary text-uppercase">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-wrapper h100 bscover" style="background-image: url(../../../assets/images/demo/demo-bg.jpg);height: 863px !important;">
        <div class="banner-content">
            <div class="container-fluid max-container">
                <div class="row">
                    <div class="col-xl-5 col-md-6 col-sm-8">

                        <h2 class="title-text mb-5 mt-5"><b><span>Online</span> Course and LMS HTML Template</b></h2>
                        <h4 class="d-inline-block mr-5">60+ <span>HTML Page</span></h4>
                        <h4 class="d-inline-block mr-5">14+ <span>Widgets</span></h4>
                        <h4 class="d-inline-block mr-5">8+ <span>Home Demo</span></h4>
                        <h4 class="d-inline-block mr-5">56+ <span>UI Elements</span></h4>
                        <div class="clearfix"></div>
                        <a href="#demo" class="btn btn-lg btn-primary mr-4 text-uppercase mt-5">See DEMOs</a>


                        <div class="icon-scroll pos-bottom-center icon-white"></div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>

 

    <div class="section pb50 pt100" id="feature">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <h2 class="title-text2 mb-4"><b>Explore Feature</b></h2>
                    <p>Zipto powers thousands of apps at some of the smartest companies around the world. Be a part of professional community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pt100"></div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-gift"></i>
                        <h3>Developer Friendly</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-reload"></i>
                        <h3>Documentation</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-medall-alt"></i>
                        <h3>Quality Code</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-comments"></i>
                        <h3>24/7 Support</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-panel"></i>
                        <h3>Dark Mode</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-user"></i>
                        <h3>User Friendly</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-bar-chart"></i>
                        <h3>Clean Component</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-package"></i>
                        <h3>12 Color  Option</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="icon-div mb80">
                        <i class="ti-stats-down"></i>
                        <h3>Apps Pages</h3>
                        <p>Reproduction of the most popular apps, such as Google Analytics, DIgitalOcean, Worpdress, Todoist, etc</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="demo p100" id="demo" style="background-color: #f3fbff;">
        <div class="container-fluid max-container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4 text-center">
                    <h2 class="title-text2 mb-4"><b>Choose Demo</b></h2>
                    <p>Create a really awesome website, choose the version that will suit your requirements in a best way.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 mt-4 text-center">
                    <ul class="nav nav-tabs tabs-icon list-inline d-block w-100 text-center border-bottom-0" id="myNavTabs">
                        <li class="active list-inline-item"><a class="fw-900 font-xssss text-black text-uppercase active" href="#navtabs1" data-toggle="tab">Demo</a></li>
                        <li class="list-inline-item"><a class="fw-900 font-xssss text-black text-uppercase" href="#navtabs2" data-toggle="tab">Home</a></li>
                        <li class="list-inline-item"><a class="fw-900 font-xssss text-black text-uppercase" href="#navtabs3" data-toggle="tab">Shop</a></li>
                        <li class="list-inline-item"><a class="fw-900 font-xssss text-black text-uppercase" href="#navtabs4" data-toggle="tab">Other</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 pt100">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="navtabs1">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-1.jpg" alt="demo-image" class="w-100">
                                    <span>Default</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" routerLink="/home/home">LTR</a>				
                                        <a target="_blank" routerLink="/rtl/default">RTL</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-34.jpg" alt="demo-image" class="w-100">
                                    <span>Category</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" routerLink="/ltr/default-category">LTR</a>				
                                        <a target="_blank" routerLink="/rtl/default-category">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-21.jpg" alt="demo-image" class="w-100">
                                    <span>Search</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" routerLink="/ltr/default-search">LTR</a>
                                        <a target="_blank" routerLink="/rtl/search">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-2.jpg" alt="demo-image" class="w-100">
                                    <span>Member</span>
                                    <div class="btn-wrap">
                                        <a target="_blank"  routerLink="/home/default-follower">LTR</a>                
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-3.jpg" alt="demo-image" class="w-100">
                                    <span>Channel</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" routerLink="/home/explore-channel">LTR</a>
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-4.jpg" alt="demo-image" class="w-100">
                                    <span>Live Stream</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" routerLink="/home/live-stream">LTR</a>
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-5.jpg" alt="demo-image" class="w-100">
                                    <span>User Profile</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" routerLink="/home/saved-course">LTR</a>
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-6.jpg" alt="demo-image" class="w-100">
                                    <span>Author Profile</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" >LTR</a>
                                        <!-- routerLink="default-author-profile.html" -->
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-7.jpg" alt="demo-image" class="w-100">
                                    <span>Course Single 1</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" >LTR</a>
                                        <!-- routerLink="default-course-details.html" -->
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-8.jpg" alt="demo-image" class="w-100">
                                    <span>Course Single 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" >LTR</a> 
                                        <!-- routerLink="default-course-details-2.html" -->
                                        <a target="_blank" >RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-10.jpg" alt="demo-image" class="w-100">
                                    <span>Test</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="default-test.html">LTR</a>
                                        <a target="_blank" href="rtl/default-test.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-11.jpg" alt="demo-image" class="w-100">
                                    <span>Analytics</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="default-analytics.html">LTR</a>
                                        <a target="_blank" href="rtl/default-analytics.html">RTL</a>
                                    </div>
                                </div>

                                

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-9.jpg" alt="demo-image" class="w-100">
                                    <span>Email Box</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="email-box.html">LTR</a>
                                        <a target="_blank" href="rtl/email-box.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-13.jpg" alt="demo-image" class="w-100">
                                    <span>Chat</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="message.html">LTR</a>
                                        <a target="_blank" href="rtl/message.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-14.jpg" alt="demo-image" class="w-100">
                                    <span>To Do</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="todo.html">LTR</a>
                                        <a target="_blank" href="rtl/todo.html">RTL</a>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-17.jpg" alt="demo-image" class="w-100">
                                    <span>Settings</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="default-settings.html">LTR</a>
                                        <a target="_blank" href="rtl/default-settings.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-15.jpg" alt="demo-image" class="w-100">
                                    <span>Contact</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="contact-information.html">LTR</a>
                                        <a target="_blank" href="rtl/contact-information.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-16.jpg" alt="demo-image" class="w-100">
                                    <span>Account</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="account-information.html">LTR</a>
                                        <a target="_blank" href="rtl/account-information.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-19.jpg" alt="demo-image" class="w-100">
                                    <span>Payment</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="payment.html">LTR</a>
                                        <a target="_blank" href="rtl/payment.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-18.jpg" alt="demo-image" class="w-100">
                                    <span>Password</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="password.html">LTR</a>
                                        <a target="_blank" href="rtl/password.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-20.jpg" alt="demo-image" class="w-100">
                                    <span>Social</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="social.html">LTR</a>
                                        <a target="_blank" href="rtl/social.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/d-12.jpg" alt="demo-image" class="w-100">
                                    <span>Popup Chat</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="popup-chat.html">LTR</a>
                                        <a target="_blank" href="rtl/popup-chat.html">RTL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navtabs2">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-3.jpg" alt="demo-image" class="w-100">
                                    <span>Home 1</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="home-3.html">LTR</a>
                                        <a target="_blank" href="rtl/home-3.html">RTL</a>
                                    </div>
                                </div>

                                

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-2.jpg" alt="demo-image" class="w-100">
                                    <span>Home 3</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="home-2.html">LTR</a>
                                        <a target="_blank" href="rtl/home-2.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-4.jpg" alt="demo-image" class="w-100">
                                    <span>Home 4</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="home-4.html">LTR</a>
                                        <a target="_blank" href="rtl/home-4.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-6.jpg" alt="demo-image" class="w-100">
                                    <span>Home 5</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="home-5.html">LTR</a>
                                        <a target="_blank" href="rtl/home-5.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-5.jpg" alt="demo-image" class="w-100">
                                    <span>Home 6</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="home-6.html">LTR</a>
                                        <a target="_blank" href="rtl/home-6.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-7.jpg" alt="demo-image" class="w-100">
                                    <span>Courses Grid 1</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="courses-grid-1.html">LTR</a>
                                        <a target="_blank" href="rtl/courses-grid-1.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-8.jpg" alt="demo-image" class="w-100">
                                    <span>Courses Grid 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="courses-grid-2.html">LTR</a>
                                        <a target="_blank" href="rtl/courses-grid-2.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-9.jpg" alt="demo-image" class="w-100">
                                    <span>Courses Grid 3</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="courses-grid-3.html">LTR</a>
                                        <a target="_blank" href="rtl/courses-grid-3.html">RTL</a>
                                    </div>
                                </div>



                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-10.jpg" alt="demo-image" class="w-100">
                                    <span>Course Single</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="course-details.html">LTR</a>
                                        <a target="_blank" href="rtl/course-details.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-11.jpg" alt="demo-image" class="w-100">
                                    <span>Course Single 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="course-details-2.html">LTR</a>
                                        <a target="_blank" href="rtl/course-details-2.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-13.jpg" alt="demo-image" class="w-100">
                                    <span>Author Profile</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="user-profile.html">LTR</a>
                                        <a target="_blank" href="rtl/user-profile.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-12.jpg" alt="demo-image" class="w-100">
                                    <span>User Profile</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="author-profile.html">LTR</a>
                                        <a target="_blank" href="rtl/author-profile.html">RTL</a>
                                    </div>
                                </div>

                                 
 

                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navtabs3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/h-1.jpg" alt="demo-image" class="w-100">
                                    <span>Home 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="home-1.html">LTR</a>
                                        <a target="_blank" href="rtl/home-1.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/shop-1.jpg" alt="demo-image" class="w-100">
                                    <span>Shop 1</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="shop-2.html">LTR</a>
                                        <a target="_blank" href="rtl/shop-2.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/shop-2.jpg" alt="demo-image" class="w-100">
                                    <span>Shop 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="shop-3.html">LTR</a>
                                        <a target="_blank" href="rtl/shop-3.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/shop-3.jpg" alt="demo-image" class="w-100">
                                    <span>Shop 3</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="shop-1.html">LTR</a>
                                        <a target="_blank" href="rtl/shop-1.html">RTL</a>
                                    </div>
                                </div>

                                 

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/single-product-3.jpg" alt="demo-image" class="w-100">
                                    <span>Single Product 1</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="single-product.html">LTR</a>
                                        <a target="_blank" href="rtl/single-product.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/single-product-2.jpg" alt="demo-image" class="w-100">
                                    <span>Single Product 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="single-product-2.html">LTR</a>
                                        <a target="_blank" href="rtl/single-product-2.html">RTL</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/single-product.jpg" alt="demo-image" class="w-100">
                                    <span>Single Product 3</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="single-product-3.html">LTR</a>
                                        <a target="_blank" href="rtl/single-product-3.html">RTL</a>
                                    </div>
                                </div>

                                

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/cart.jpg" alt="demo-image" class="w-100">
                                    <span>Cart</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="cart.html">LTR</a>
                                        <a target="_blank" href="rtl/cart.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/checkout.jpg" alt="demo-image" class="w-100">
                                    <span>Checkout</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="checkout.html">LTR</a>
                                        <a target="_blank" href="rtl/checkout.html">RTL</a>
                                    </div>
                                </div>

                                 
                            </div>
                        </div>

                        <div class="tab-pane fade" id="navtabs4">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/login.jpg" alt="demo-image" class="w-100">
                                    <span>Login</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="login.html">LTR</a>
                                        <a target="_blank" href="rtl/login.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/register.jpg" alt="demo-image" class="w-100">
                                    <span>Register</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="register.html">LTR</a>
                                        <a target="_blank" href="rtl/register.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/forgot.jpg" alt="demo-image" class="w-100">
                                    <span>Forgot</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="forgot.html">LTR</a>
                                        <a target="_blank" href="rtl/forgot.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/coming-soon.jpg" alt="demo-image" class="w-100">
                                    <span>Coming Soon</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="coming-soon.html">LTR</a>
                                        <a target="_blank" href="rtl/coming-soon.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/not-found.jpg" alt="demo-image" class="w-100">
                                    <span>404</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="404.html">LTR</a>
                                        <a target="_blank" href="rtl/404.html">RTL</a>
                                    </div>
                                </div>

                                 

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/blog.jpg" alt="demo-image" class="w-100">
                                    <span>Blog</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="blog.html">LTR</a>
                                        <a target="_blank" href="rtl/blog.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/blog-sidebar.jpg" alt="demo-image" class="w-100">
                                    <span>Blog Sidebar</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="blog-sidebar.html">LTR</a>
                                        <a target="_blank" href="rtl/blog-sidebar.html">RTL</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/blog-single.jpg" alt="demo-image" class="w-100">
                                    <span>Blog Single</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="blog-single.html">LTR</a>
                                        <a target="_blank" href="rtl/blog-single.html">RTL</a>
                                    </div>
                                </div>

                                

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/contact.jpg" alt="demo-image" class="w-100">
                                    <span>Contact</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="contact.html">LTR</a>
                                        <a target="_blank" href="rtl/contact.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/contact-two.jpg" alt="demo-image" class="w-100">
                                    <span>Contact 2</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="contact-two.html">LTR</a>
                                        <a target="_blank" href="rtl/contact-two.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/about.jpg" alt="demo-image" class="w-100">
                                    <span>About</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="about.html">LTR</a>
                                        <a target="_blank" href="rtl/about.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/service.jpg" alt="demo-image" class="w-100">
                                    <span>Service</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="service.html">LTR</a>
                                        <a target="_blank" href="rtl/service.html">RTL</a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 demo-item">
                                    <img src="../../../assets/images/demo/price.jpg" alt="demo-image" class="w-100">
                                    <span>Price</span>
                                    <div class="btn-wrap">
                                        <a target="_blank" href="price.html">LTR</a>
                                        <a target="_blank" href="rtl/price.html">RTL</a>
                                    </div>
                                </div>

                                 
                            </div>
                        </div>
 



                    </div>
                </div>
                

                
                 
            </div>
        </div>
    </div>

    <div class="p100 bg-black" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="title-text2 text-white mt-4"><b>Beautiful designs to get you started</b></h2>
                    <p class="text-white ml-5 mr-5">Create a really awesome website, choose the version that will suit your requirements in a best way.</p>
                    <div class="col-sm-12 text-center mt-5"><a href="#" class="btn-lg btn bg-white">PURCHASE NOW</a></div>
                </div>
            </div>
        </div>
    </div>

</main>
